# OS
.DS_Store

# Python
.venv/
__pycache__/
*.pyc

# Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate*
infra/terraform/tfplan
infra/terraform/build/
infra/terraform/*.auto.tfvars

# 生成物
/.venv-build-layer
/python
scripts/deploy/.venv-build-layer
scripts/deploy/python

# ローカル
/web/index.html.original
/tools/
